.yellow{
    background-color: yellow;
    height: 50px;
    width: 50px;
   
}
.red{
    background-color: red;
    height: 50px;
    width: 50px;
    

}
.green{
    background-color: green;
    height: 50px;
    width: 50px;
 
}
.blue{
    background-color: blue;
    height: 50px;
    width: 50px;
   ;
}
.colours{

    display: flex;
    align-items: center;
    justify-content: center;
}